<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/style.css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
               <from action="">
                  <div class="heading">
                    <h2>Black-Hood</h2>
                  </div>
                   <div class="input_box">
                    <ion-icon name="barcode"></ion-icon>
                    <input type="room_code" required>
                    <label for="">Room Name</label>
                   </div>
                   <div class="input_box">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" required>
                    <label for="">Password</label>
                   </div>
                   <button>Create Room</button>
               </from>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>